.drag-selection-canvas {
  width: 500px;
  height: 500px;
  background: #dedee4;
  position: absolute;
}

.drag-selection-wrapper {
  border: 1px solid #298df8;
  background: rgba(41, 141, 248, 0.15);
  position: absolute;
  display: none;
}
