// icon
.icon {
  border: 1px solid black;
}

.rect-icon {
  width: 30px;
  height: 20px;
}

.circle-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

// editable
.editable-wrapper {
  border: 1px solid black;
  position: absolute;
}

.editable-rect {
  width: 150px;
  height: 100px;
  background: aquamarine;
}

.editable-circle {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: cornflowerblue;
}