// icon
.icon {
  border: 1px solid black;
}

.rect-icon {
  width: 30px;
  height: 20px;
}

.circle-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

// editable
.editable-wrapper {
  border: 1px solid black;
  position: absolute;
}

.editable-rect {
  width: 150px;
  height: 100px;
  background: aquamarine;
}

.editable-circle {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: cornflowerblue;
}

.assist-line {
  position: absolute;
}

.assist-line-horizon {
  width: 100%;
}

.assist-line-vertical {
  height: 100%;
}

.assist-line-top {
  border-top: 1px dashed indianred;
}

.assist-line-left {
  border-left: 1px dashed indianred;
}

.assist-line-right {
  border-right: 1px dashed indianred;
}

.assist-line-bottom {
  border-bottom: 1px dashed indianred;
}