// icon
.icon {
  border: 1px solid black;
}

.rect-icon {
  width: 30px;
  height: 20px;
}

.circle-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

// editable
.editable-wrapper {
  position: absolute;
}

.editable-rect {
  width: 150px;
  height: 100px;
  background: aquamarine;
}

.editable-circle {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: cornflowerblue;
}

.resizable-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

.resizable-border {
  border: 1px solid #298df8;
}

.resize-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  border: 1px solid #298df8;
  background: white;
  position: absolute;
}

.dot-top {
  left: 50%;
  top: 0;
  cursor: n-resize;
}

.dot-top-left {
  left: 0;
  top: 0;
  cursor: nw-resize;
}

.dot-top-right {
  left: 100%;
  top: 0;
  cursor: ne-resize;
}

.dot-left {
  left: 0;
  top: 50%;
  cursor: w-resize;
}

.dot-bottom-left {
  left: 0;
  top: 100%;
  cursor: sw-resize;
}

.dot-bottom {
  left: 50%;
  top: 100%;
  cursor: s-resize;
}

.dot-bottom-right {
  left: 100%;
  top: 100%;
  cursor: se-resize;
}

.dot-right {
  left: 100%;
  top: 50%;
  cursor: e-resize;
}

.dot-rotate {
  width: 20px;
  height: 20px;
  left: 50%;
  top: -30px;
  cursor: grab;
}

.assist-line {
  position: absolute;
}

.assist-line-horizon {
  width: 100%;
  border-top: 1px dashed indianred;
}

.assist-line-vertical {
  height: 100%;
  border-left: 1px dashed indianred;
}