#dragSelectionWrapper {
  width: 500px;
  height: 500px;
  background: gainsboro;
  position: absolute;
}

.drag-selection-wrapper {
  display: none;
  position: absolute;
  border: 1px solid #298df8;
  background: rgba(41, 141, 248, 0.15);
}
